<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Bryan Bolivar</h1>
		<p>Welcome to my blog</p>
		<p>I'm a iOS developer since 2010.I Love to work with Startups but also have experience working with established teams.</p>
		<p>I'm always looking for learn and apply new technologies and keeping best practices in order to get the work done. </p>
		<p>I've had the opportunity to take leadership of development teams using Scrum and Kanban as an Agile Development Framework and working closely with the client in order to reach goals together.</p>
		<p>I'm really passionate about Videogames and Soccer, in my free time I learn how to play guitar and watch movies. You can find me on Twitter <a href="http://twitter.com/Bryan_Bolivar">@Bryan_Bolivar</a> or follow my repositories at <a href="https://github.com/bolivarbryan">Github</a>.</p></p>

	</div>
</div>